@media screen and (max-width: 1024px){
    /* H E A D E R */
    .header_overlay h2{
        left: 50px;
    }

    .menu{
        left: 590px;
    }

    .menu a {
        color: white;
    }

    .header_overlay-social{
        width: 65px;
        top: 150px;
    }

    .header_overlay-avatar{
        width: 250px;
        height: 250px;
        left: 180px;
    }

    .header_overlay-avatar > img{
        left: -35px;
    }

    .header_overlay-title{
        left: 530px;
        width: 430px;
    }

    .header_overlay-titleOne{
        font-size: 4em;
    }

    .header_overlay-titleTwo {
        font-size: 2.5em;
    }

    .header_overlay-subtitle{
        bottom: 180px;
        left: 410px;
        text-align: end;
    }

    .header_overlay-subtitleOne{
        font-size: 2em;
        letter-spacing: 2px;
    }

    /* E N D  H E A D E R */

    /* S K I L L S */

    .mySkills h3, .work_evidence h3, .contact h3 {
        width: 320px;
    }

    .mySkills h2, .work_evidence h2, .contact h2 {
        left: 700px;
    }

    .mySkills p {
        top: 70px;
        left: 75px;
    }

    .progress_bar-container {
        left: 50px;
    }

    .expertise{
        left: 650px;
    }

    /* E N D  S K I L L S */

    /* W O R K  E V I D E N C E */

    .work_evidence > h2 {
        left: 590px;
    }

    .practices h4, .work h4 {
        font-size: 2em;
    }
    /* E N D  W O R K  E V I D E N C E */

    /* C O N T A C T  M E */

    .contact > h2 {
        left: 670px;
    }

    .cont_icons{
        position: relative;
        left: -10px;
        top: -10px;

    }

    .info_icon h4 {
        font-size: 1.1em;
        width: 220px;
        text-align: center;
    }

    .form_name, .form_email {
        width: 95%;
    }

    .form_message {
        width: 95%;
    }
    /* E N D  C O N T A C T  M E */
}

@media screen and (max-width: 768px){
    .menu{
        left:185px;
        top: 40px;
    }

    .header_overlay h2 {
        left: 130px;
        top: 20px;
        font-size: 2em;
        letter-spacing: 5px;
        width: 500px;
    }

    .header_overlay-avatar {
        left: 255px;
        top: -80px;
    }

    .header_overlay-title {
        left: 170px;
        bottom: 475px;
    }

    .header_overlay-subtitle {
        width: 460px;
        left: 150px;
        text-align: center;
    }

    .mySkills h3, .work_evidence h3, .contact h3 {
        width: 270px;
        font-size: 1em;
    }

    .mySkills h2, .work_evidence h2, .contact h2 {
        top: 15px;
        left: 500px;
        font-size: 1.2em;
    }

    .mySkills p {
        top: 70px;
        left: 55px;
        font-size: 0.9em;
    }

    .expertise {
        left: 470px;
    }

    .work_evidence > h2{
        left: 430px;
        width: 170px;
    }

    .practices h4, .work h4 {
        font-size: 1.6em;
    }

    .cont_icons {
        position: relative;
        left: 93px;
        top: -15px;
    }

    .info_container {
        position: relative;
        top: 50px;
        right: 40px;
    }

    .info_icon h4{
        border-bottom: none;
    }

    .contact_container-form{
        position: relative;
        top: 10px;
    }

    footer h2{
        font-size: 1.3em;
    }

}

@media screen and (max-width: 480px){
    .header_overlay h2 {
        left: 44px;
        font-size: 1.5em;
        width: 396px;
    }

    .menu {
        display: none;
        left: 48px;
        top: 30px;
    }

    .header_overlay-title {
        left: 80px;
        font-size: 0.7em;
        width: 335px;
        bottom: 275px;
    }

    .header_overlay-titleOne {
        letter-spacing: 9px;
    }

    .header_overlay-avatar {
        left: 120px;
        top: 100px;
    }

    .header_overlay-subtitle {
        width: 360px;
        left: 65px;
        font-size: 0.8em;
        bottom: -60px;
    }

    .header_overlay-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 370px;
        top: 500px;
        height: 65px;
        left: 56px;
    }

    .mySkills {
        margin: 100px 0px;
    }

    .mySkills h3, .work_evidence h3, .contact h3 {
        left: 60px;
    }

    .mySkills h2, .work_evidence h2, .contact h2 {
        top: 45px;
        left: 140px;
        letter-spacing: 7px;
    }

    .mySkills p {
        left: 65px;
        width: 261px;
    }

    .progress_bar-container {
        left: 10px;
    }

    .expertise {
        left: 280px;
        font-size: 0.9em;
    }

    .work_evidence-container {
        flex-direction: column;
        gap: 20px;
        top: 75px;
    }

    .work_evidence > h2 {
        left: 72px;
        width: 255px;
    }

    .practices,
    .work{
        width: 80%;
        opacity: 1;
    }

    .work_evidence{
        margin-bottom: 100px;
    }

    .contact {
        margin-bottom: 100px;
    }

    .mySkills h3,
    .work_evidence h3,
    .contact h3 {
        left: 60px;
        top: 15px;
    }

    .contact > h2 {
        top: 30px;
        left: 130px;
    }

    .contact_container {
        flex-direction: column;
    }

    .contact_container-icons {
        display: none;
    }

    .contact_container-form {
        width: 90%;
    }

    footer h2 {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 320px){
    .header_overlay h2 {
        left: 15px;
        font-size: 1em;
        width: 297px;
    }

    .header_overlay-title {
        left: 20px;
        font-size: 0.5em;
    }

    .header_overlay-titleOne {
        letter-spacing: 12px;
    }

    .header_overlay-avatar {
        left: 35px;
        top: 80px;
    }

    .header_overlay-subtitle {
        width: 300px;
        left: 10px;
        font-size: 0.66em;
        bottom: -60px;
    }

    .header_overlay-social {
        left: 0px;
        width: 320px;
        gap: 0px;
    }

    .mySkills > h2{
        left: 80px;
    }

    .mySkills h3, .work_evidence h3, .contact h3 {
        left: 12px;
        font-size: 0.9em;
        width: 230px;
    }

    .mySkills p {
        left: 27px;
        width: 200px;
        text-align: center;
    }

    .progress_bar {
        margin-left: 5px;
    }

    .expertise {
        left: 175px;
        font-size: 0.7em;
        width: 30%;
    }

    .contact > h2 {
        left: 65px;
        width: 140px;
    }

    .work_evidence > h2 {
        left: 34px;
        width: 190px;
        letter-spacing: 2px;
    }

    footer h2 {
        font-size: 0.55em;
    }
}