/*Fonts*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?wk2dxv');
    src: url('../fonts/icomoon.eot?wk2dxv#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?wk2dxv') format('truetype'), url('../fonts/icomoon.woff?wk2dxv') format('woff'), url('../fonts/icomoon.svg?wk2dxv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-menu {
    font-size: 2em;
}


/* A N I M A T I O N S */

@keyframes blink_text {
    0% {
        color: #37bcf9;
    }
    25% {
        color: blueviolet;
    }
    50% {
        color: whitesmoke;
    }
    75% {
        color: gold;
    }
    100% {
        color: #37bcf9;
    }
}

@keyframes blink_bars {
    0% {
        background-color: #37bcf9;
    }
    25% {
        background-color: blueviolet;
    }
    50% {
        background-color: whitesmoke;
    }
    75% {
        background-color: gold;
    }
    100% {
        background-color: #37bcf9;
    }
}

@keyframes rotate_icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink_nums {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}


/*E N D  A N I M A T I O N S*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 10px;
    border: 2px solid white;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    box-sizing: content-box;
}

.header {
    width: 100%;
    box-sizing: content-box;
}

.navbar {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.title {
    width: 35%;
    display: flex;
    justify-content: center;
    color: white;
}

.title>h1 {
    margin-left: 20px;
}

.menu {
    width: 35%;
}

.menu>ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    gap: 60px;
    list-style: none;
    margin: auto 0px;
}

.menu>ul li a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: all 300ms;
}

.menu>ul li a:hover {
    opacity: 1;
}

.overlapContainer {
    background-image: url("../img/background_header.webp");
    width: 100%;
    height: 670px;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlap {
    width: 100%;
    height: 670px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px white;
}

.headerMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 48%;
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
}

.social {
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.social a:hover {
    animation-name: rotate_icon;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.avatar {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 300px;
    height: 300px;
    position: relative;
    top: 205px;
    right: 160px;
}

.right {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    color: white;
    gap: 200px;
}

.subTitleContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    gap: 30px;
}

.subTitleOne,
.subTitleTwo {
    width: 100%;
    text-align: center;
}

.subTitleOne>h2 {
    margin: 0px;
    margin-left: 50px;
    font-size: 5em;
    letter-spacing: 60px;
    animation: blink_text 5s infinite linear;
}

.subTitleTwo>h2 {
    font-size: 3.5em;
    margin: 0px;
    letter-spacing: 20px;
    font-weight: lighter;
    animation: blink_text 5s infinite linear;
}

.speciality {
    width: 80%
}

.speciality>h3 {
    font-size: 2.5em;
    margin: 0px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #444;
    text-shadow: -1px -1px 1px white, 1px 1px 1px white, -1px -1px 3px white, 1px 1px 3px white;
}

.main {
    background-image: url("../img/dark-grey-tile.png");
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 60px;
    gap: 150px;
}

.card {
    width: 80%;
    height: 500px;
    box-shadow: 0px 0px 20px #555;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
}

.cardHeader {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.cardHeader>h4 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    animation: blink_text 5s linear infinite;
}

.cardHeader>h3 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.cardMain {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.progressBarHtml,
.progressBarCss,
.progressBarJavaScript,
.progressBarPython,
.progressBarBootstrap,
.progressBarCommand {
    width: 60%;
    height: 30px;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: blink_bars 5s linear infinite;
}

.barContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.bar {
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 100%;
}

.html {
    width: 100%;
    justify-content: flex-end;
}

.css {
    width: 100%;
    justify-content: flex-end;
}

.javascript {
    width: 50%;
    justify-content: flex-end;
}

.python {
    width: 70%;
    justify-content: flex-end;
}

.bootstrap {
    width: 85%;
    justify-content: flex-end;
}

.command {
    width: 65%;
    justify-content: flex-end;
}

.titleSkill {
    width: 20%;
    display: flex;
    justify-content: end;
}

.buttonsContainer {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px #555;
    border-radius: 10px;
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.practices,
.work {
    border: 1px solid white;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    height: 300px;
    display: flex;
    width: 40%;
    opacity: 0.7;
}

.practices:hover,
.work:hover {
    opacity: 1;
}

.practices {
    background-color: #37bcf9;
}

.work {
    background-color: palevioletred;
}

.practices h4,
.work h4 {
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
}

.cardMainContact {
    box-shadow: 0px 0px 5px silver;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContact {
    width: 48%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.leftInfo {
    width: 100%;
    display: flex;
    gap: 50px;
}

.leftInfo>img {
    margin-left: 15px;
}

.rightContact {
    width: 48%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formName,
.formEmail {
    border-radius: 10px;
    padding-left: 10px;
    font-size: large;
    width: 80%;
    height: 30px;
    outline: none;
}

.formMessage {
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    height: 90px;
    width: 80%;
    outline: none;
    resize: none;
}

.buttom {
    width: 150px;
    height: 40px;
    font-size: large;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    letter-spacing: 5px;
    transition: all 300ms;
}

.buttom:hover {
    background-color: black;
    color: white;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.footer_h2 {
    animation: blink_text 5s infinite linear;
}

.footerSocial {
    display: none;
}

.burger-button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

@media screen and (max-width:1337px) {
    .speciality {
        width: 85%;
    }
}

@media screen and (max-width:1260px) {
    .title>h1 {
        font-size: 1.2em;
    }
    .subTitleTwo>h2 {
        font-size: 3.1em;
    }
    .subTitleOne>h2 {
        font-size: 4.2em;
    }
    .speciality {
        width: 90%;
    }
    .speciality>h3 {
        font-size: 2.1em;
    }
}

@media screen and (max-width:1175px) {
    .avatar {
        top: 190px;
        right: 100px;
    }
}

@media screen and (max-width:1120px) {
    .avatar {
        top: 187px;
        right: 95px;
    }
}

@media screen and (max-width:1024px) {
    .menu>ul {
        width: 50%;
    }
    .subTitleContainer {
        width: 100%;
    }
    .subTitleTwo>h2 {
        font-size: 2.8em;
    }
    .subTitleOne>h2 {
        font-size: 3.5em;
    }
}

@media screen and (max-width:1009px) {
    .overlapContainer {
        height: 590px;
    }
    .overlap {
        height: 590px;
    }
    .title>h1 {
        font-size: 1em;
    }
    .avatar {
        width: 250px;
        height: 250px;
        top: 175px;
    }
    .avatar>img {
        position: relative;
        width: 100%;
    }
    .subTitleOne>h2 {
        font-size: 3em;
    }
    .subTitleTwo>h2 {
        font-size: 2.4em;
    }
    .speciality>h3 {
        font-size: 1.8em;
    }
    .practices h4,
    .work h4 {
        font-size: 2.1em;
    }
    .practices,
    .work {
        height: 260px;
        width: 35%;
    }
    .cardHeader>h3 {
        font-size: 1.1em;
    }
    .cardHeader>h4 {
        font-size: 1.2em;
    }
}

@media screen and (max-width:900px) {
    .menu>ul {
        gap: 40px;
    }
    .leftInfo {
        gap: 25px;
    }
}

@media screen and (max-width:878px) {
    .subTitleTwo>h2 {
        font-size: 2.1em;
    }
    .speciality>h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:840px) {
    .title {
        width: 40%;
    }
    .avatar {
        top: 175px;
        right: 40px;
    }
    .practices h4,
    .work h4 {
        font-size: 1.7em;
    }
    .leftInfo {
        align-items: center;
    }
    .leftInfo>img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:816px) {
    .menu>ul {
        gap: 30px;
    }
    .subTitleOne>h2 {
        font-size: 2.7em;
    }
    .subTitleTwo>h2 {
        font-size: 1.8em;
    }
    .footer>h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width:768px) {
    .headerMain {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    .navbar {
        flex-direction: column;
    }
    .title {
        width: 100%;
    }
    .title>h1 {
        font-size: 1.5em;
        letter-spacing: 8px;
    }
    .menu {
        width: 100%;
    }
    .menu>ul {
        width: 100%;
        padding: 0px;
    }
    .overlapContainer {
        height: 700px;
    }
    .overlap {
        height: 700px;
    }
    .left {
        width: 100%;
        height: 100%;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }
    .social {
        display: none;
    }
    .footerSocial {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 35%;
        height: 100%;
    }
    .footerSocial>a>img {
        width: 30px;
    }
    .avatar {
        position: initial;
    }
    .right {
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    .subTitleContainer {
        width: 100%;
        margin-top: 40px;
        gap: 20px;
    }
    .subTitleOne>h2 {
        margin-left: 60px;
    }
    .subTitleTwo>h2 {
        margin-left: 15px;
    }
    .speciality {
        width: 100%;
        text-align: center;
        margin-top: 45px;
    }
    .titleSkill {
        width: 30%;
    }
    .buttonsContainer {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .practices,
    .work {
        width: 90%;
    }
    .cardMainContact {
        flex-direction: column;
    }
    .leftContact {
        width: 100%;
        height: 15%;
        flex-direction: row;
    }
    .leftInfo {
        width: 30%;
        gap: 10px;
    }
    .leftInfo>h4 {
        font-size: 0.75em;
    }
    .leftInfo>img {
        width: 25px;
        height: 25px;
    }
    .rightContact {
        width: 100%;
    }
    .footer>h2 {
        font-size: 1em;
    }
}

@media screen and (max-width:733px) {
    .main {
        padding-bottom: 50px;
    }
    .cardHeader>h3 {
        font-size: 1em;
    }
    .cardHeader>h4 {
        font-size: 1.1em;
    }
    .leftInfo>h4 {
        font-size: 0.65em;
    }
    .footer {
        height: 60px;
        align-items: center;
    }
    .footer>h2 {
        font-size: 0.8em;
    }
}

@media screen and (max-width:717px) {
    .cardMain>h5 {
        font-size: 0.7em;
    }
}

@media screen and (max-width:660px) {
    .title>h1 {
        font-size: 1.2em;
    }
}

@media screen and (max-width:636px) {
    .cardHeader>h4 {
        font-size: 1em;
    }
    .cardHeader>h3 {
        font-size: 0.75em;
    }
    .leftContact {
        height: 40%;
        flex-direction: column;
    }
    .leftInfo {
        width: 100%;
        justify-content: center;
    }
    .leftInfo>h4 {
        font-size: 0.75em;
        width: 32%;
        margin: 0px;
    }
    .footer>h2 {
        font-size: 0.7em;
    }
}

@media screen and (max-width:610px) {
    .titleSkill {
        width: 50%;
    }
}

@media screen and (max-width:575px) {
    .title>h1 {
        letter-spacing: 5px;
    }
    .barContainer {
        gap: 70px;
    }
}

@media screen and (max-width:530px) {
    .cardHeader {
        flex-direction: column;
        align-items: center;
    }
    .footer {
        flex-direction: column;
    }
    .footerSocial {
        width: 70%;
    }
}

@media screen and (max-width:500px) {
    .title>h1 {
        font-size: 1em;
    }
}

@media screen and (max-width:466px) {
    .leftInfo>h4 {
        width: 100%;
        display: contents;
    }
    .leftContact {
        align-items: center;
    }
}

@media screen and (max-width:450px) {
    .title>h1 {
        font-size: 0.9em;
        letter-spacing: 3px;
    }
    .barContainer {
        gap: 40px;
    }
}

@media screen and (max-width:425px) {
    .title {
        justify-content: center;
        margin-top: 50px
    }
    .burger-button {
        display: block;
        background-color: transparent;
        position: fixed;
        left: 15px;
        top: 0px;
    }
    .menu {
        height: auto;
        background: rgba(0, 0, 0, 0.85);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        transition: 1.5s;
    }
    .menu.is-active {
        left: 0;
    }
    .menu>ul {
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
    }
    .barContainer {
        gap: 15px;
    }
}

@media screen and (max-width:375px) {
    .title>h1 {
        font-size: 0.75em;
        letter-spacing: 2px;
    }
    .subTitleOne>h2 {
        font-size: 2em;
        margin-left: 53px;
        letter-spacing: 59px;
    }
    .subTitleTwo>h2 {
        font-size: 1em;
    }
    .speciality>h3 {
        letter-spacing: 10px;
    }
    .titleSkill {
        font-size: 0.8em;
    }
    .footer>h2 {
        font-size: 0.6em;
    }
}