/* A N I M A T I O N S */

@keyframes blink_text{
    0%{
        color:#37bcf9;
    }
    25%{
        color:blueviolet;
    }
    50%{
        color:whitesmoke;
    }
    75%{
        color:gold;
    }
    100%{
        color:#37bcf9;
    }
}

@keyframes blink_bars{
    0%{
        background-color:#37bcf9;
    }
    25%{
        background-color:blueviolet;
    }
    50%{
        background-color:whitesmoke;
    }
    75%{
        background-color:gold;
    }
    100%{
        background-color:#37bcf9;
    }
}

@keyframes rotate_icon {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes blink_nums {
    0%{
        color: white;
    }
    100%{
        color:black;
    }
}

/*E N D  A N I M A T I O N S*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
}

.header > img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.header_overlay{
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.90);
    box-shadow: 0px 0px 10px white;
    color:white;
}

.header_overlay h2{
    width: 300px;
    margin: 0px;
    position: relative;
    top: 35px;
    left: 100px;
}

.menu{
    width: 400px;
    margin: 0px;
    position: relative;
    top: -5px;
    left: 965px;
}

.menu ul{
    display: flex;
    gap: 45px;
    width: 400px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: gray;
    transition: all 300ms;
}

.menu a:hover{
    color: white;
}

.header_overlay-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 270px;
    position: relative;
    top: 210px;
    left: 20px;
    gap: 20px;
}

.header_overlay-social > a:hover{
    animation-name: rotate_icon;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.header_overlay-avatar{
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 230px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.header_overlay-avatar > img{
    object-fit: cover;
    position: relative;
    bottom: 50px;
}

.header_overlay-title{
    display: block;
    position: relative;
    bottom: 400px;
    left: 700px;
    width: 550px;
}

.header_overlay-titleOne{
    margin: 0px;
    font-size: 5em;
    letter-spacing: 5px;
    animation: blink_text 5s infinite linear;
}

.header_overlay-titleTwo{
    font-size: 3.5em;
    margin: 0px;
    letter-spacing: 20px;
    font-weight: lighter;
    animation: blink_text 5s infinite linear;
}

.header_overlay-subtitle{
    display: block;
    position: relative;
    bottom: 270px;
    left: 700px;
    width: 550px;
}

.header_overlay-subtitleOne{
    font-size: 2.5em;
    margin: 0px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #444;
    text-shadow: -1px -1px 1px white,
                            1px 1px 1px white,
                            -1px -1px 3px white,
                            1px 1px 3px white;

}

.main{
    background-image: url('../img/dark-grey-tile.png');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySkills{
    margin:200px 0px;
    width: 80%;
    height: 500px;
    box-shadow: 0px 0px 20px #555;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mySkills h3,
.work_evidence h3,
.contact h3{
    width: 350px;
    color: white;
    position: relative;
    left: 50px;
    top: 35px;
    margin: 0px;
}

.mySkills h2,
.work_evidence h2,
.contact h2{
    font-weight: lighter;
    width: 100px;
    color: white;
    position: relative;
    margin: 0px;
    top: 10px;
    left: 1000px;
    animation: blink_text 5s linear infinite;
}

.work_evidence h2{
    left: 875px;
    width: 210px;
}

.contact h2{
    left: 965px;
    width: 125px;
}

.mySkills p{
    position: relative;
    margin: 0px;
    width:700px;
    color: white;
    top: 100px;
    left: 130px;
    font-size: 1.2em;
}

.progress_bar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 260px;
    margin: 0px;
    position: relative;
    top: 130px;
    left: 130px;
}

.progress_bar{
    width: 90%;
    height: 30px;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    margin-left: 30px;
    padding: 0px;
    display: flex;
}

.progress_bar-inner{
    display: flex;
    align-items: center;
    animation: blink_bars 5s linear infinite;
    margin: 0px;
}

.progress_bar-inner h4{
    letter-spacing: 2px;
    animation: blink_nums 5s ease infinite;
}

.html{
    width: 100%;
    justify-content: end;
}

.css{
    width: 100%;
    justify-content: end;
}

.javascript{
    width: 50%;
    justify-content: end;
}

.phyton{
    width: 70%;
    justify-content: end;
}

.bootstrap{
    width: 85%;
    justify-content: end;
}

.expertise{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 10%;
    height: 260px;
    margin: 0px;
    position: relative;
    bottom: 130px;
    left: 1000px;
}

.expertise h4{
    margin: 0px;
}

.work_evidence{
    width: 80%;
    height: 500px;
    margin-bottom: 200px;
    box-shadow: 0px 0px 20px #555;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.work_evidence-container{
    position: relative;
    top: 50px;
    margin: 0px auto;
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.practices,
.work{
    border: 1px solid white;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    height: 300px;
    display: flex;
    width: 40%;
    opacity: 0.7;
}

.practices:hover,
.work:hover{
    opacity: 1;
}

.practices{
    background-color: #37bcf9;
}

.work{
    background-color: palevioletred;
}

.practices h4,
.work h4{
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
}

.contact{
    width: 80%;
    height: 500px;
    margin-bottom: 200px;
    box-shadow: 0px 0px 20px #555;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact h4{
    margin: 0px;
    width: 120px;
    color: white;
}

.contact_container{
    margin: 0px auto;
    position: relative;
    top: 40px;
    width: 95%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_container-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 325px;
}

.cont_icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 300px;
}

.info_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 300px;
}

.info_icon h4{
    font-size: 1.5em;
    width: 325px;
    opacity: 0.8;
    border-bottom: 2px solid white;
}



.contact_container-form{
    width: 50%;
    height: 325px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.form_name,
.form_email{
    border-radius: 10px;
    padding-left: 10px;
    font-size: large;
    width: 100%;
    height: 30px;
    outline: none;
}

.form_message{
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    height: 90px;
    width: 100%;
    outline: none;
}

.buttom{
    width: 150px;
    height: 40px;
    font-size: large;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    letter-spacing: 5px;
}

.buttom:hover{
    background-color: black;
    color: white;
}

footer{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}